main {
    text-align: center;
    font-size: 100px;
    background: rgb(0, 162, 255);
    color: rgb(229, 255, 0);
    box-shadow: 0 0 20px rgb(0, 162, 255);
}
html{
    background-color: aqua;
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(229, 255, 0);
    background: rgb(0, 162, 255);
    justify-content: center; 
    align-items: center;
   
}
h2{
    font-size: 50px;
    text-align: center;
    color: rgb(229, 255, 0);
    background: rgb(0, 162, 255);
    justify-content: center; 
    align-items: center;
   
}
.art1 {
    background: rgba(0, 162, 255, 0.678);
    font-size: large;
    text-align: center;
}